.agc-locations{
    #location-select{
        position: relative;
        width: 18.8rem;
        max-width: 100%;
        margin-bottom: 1.25rem;
        &:after {
            content: '▾';
            position: absolute;
            top: 0.2rem;
            right: .8rem;
            line-height: 1;
            font-size: 1.5rem;
            color: #000;
            pointer-events: none;
        }
        .selected-option{
            display: block;
            width: 100%;
            font-size: .7rem;
            padding:.5rem 1rem;
            line-height: 1;
            border-radius: 1rem;
            border:1px solid #575757;
            color: #575757;
            outline: none !important;
            text-transform: uppercase;
            cursor: pointer;
            filter: drop-shadow(0 4px 4px #00000040);
            &:focus{
                border-radius: 1rem 1rem 0 0;  
                border-bottom-color: #ccc;;         
                & ~ .options-list{
                    opacity: 1;
                }
            }
            &:not(.focus){                
                & ~ .options-list{
                    pointer-events: none;
                }
            }
        }
        .options-list{
            list-style: none;
            padding: 0;
            margin: 0;
            border-radius: 0 0 1rem 1rem;
            overflow: hidden;
            opacity: 0;
            position: absolute;
            border:1px solid #575757;
            border-top: 0;
            width: 100%;
            background-color: #fff;
            z-index: 1;
            li {
                font-size: .7rem;
                padding: .5rem 1rem;
                color: #575757;
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }
    #map{
        width:100%;
        height:22.8rem;
        border-radius: .5rem;
    }
}